@inherits ServiceStack.Razor.ViewPage<JobApplication.ServiceInterface.MyServices.ApplicationResponse>
<div class="container">
    <h1 class="text-center">Tack för din ansökan!</h1>
    <div class="row">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-success">
            <div class="panel-heading">Vad händer nu?</div>
            <div class="panel-body">
                <p>
                    Vi är i full gång med planeringen inför årets fotosäsong.
                </p>

                Då vi har en omfattande rekryteringsprocess så har vi tyvärr inte möjlighet att svara på alla ansökningar.
                Är du nyfiken på hur det går med din ansökan är du varmt välkommen att höra av dig till oss.
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Kundtjänst</strong><br />
                        Telefon: 0431-44 56 00
                        <p><a href="mailto:info@exaktafoto.se">info@exaktafoto.se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>